#NavBar {
  // position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  border-bottom: 3px solid black;

  #logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  img {
    height: 32px;
    width: 32px;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
  }

  li {
    margin: 0 8px;
    &:hover {
      cursor: pointer;
    }
    &:active {
      font-weight: bold;
    }
  }
}
